body{
    background-color: aqua;

}
.box{
    border: 3px dotted red;
    background-color: white;
    width:70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-rainbow {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;

    font-weight: bold;
    font-size: 40px;
  }
h1{
    color:red;
}
h2{
    color: orange;
}
h3{
    color:rgb(107, 107, 50);
}
h4{
    color: green;
}