<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>new</title>
</head>

<body>
	좋아하는거 적기
	<form action="" method="post">
		{% csrf_token %}
		<input name="title" placeholder="제목입력"><br><br>
		<textarea name="content" placeholder="내용을 입력하세요" cols="25" rows="15"></textarea><br>
		<select name="category">
			<option value="drama">드라마</option>
			<option value="movie">영화</option>
			<option value="programming">프로그래밍</option>
		</select>
		<button type="submit">저장하기</button>
	</form>


</body>

</html>